body {
    display: flex;
    font-family: 'Montserrat', serif;
}

.company{
    display:inline-flex;
    align-items: center;
    
}

.searchIcon{
    width: 10px;
}

.logo{
    width: 40%;
    height: auto;
    padding-right: 10px;
}
